.pagination > button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.pagination > button {
  font-size: 2em;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
